.links{
  height: 40em;
  text-decoration: none;
  color: aliceblue;
}

.links2{
  text-decoration: none;
}

.assignmentbelow{
  padding-top:2em;
  width: 100%;
  height:40em;
}

.signinbox{
  height: 52em;
  width: 100%;
  text-align: center;
  padding-top: 5em;
  background-image: url('./Subrouting.js/wallback2.jpeg');
}

.aboutbox{
  height: 51em;
  width: 100%;
  text-align: center;
  padding-top: 1em;
  padding-left: 30em;
  background-image: url('./Subrouting.js/wallback.jpeg');
  background-attachment: fixed;
  background-size: cover;
  height:100vh;
}

.aboutimg{
  height: 22em;
  width: 50em;
}

.home{
  background-image: linear-gradient(lightblue, yellow);
}

.collegeimg{
  float: right;
  height: 20em;
  width: 100%;
  padding-top: 4em;
  padding-left:27em;
  padding-right: 34em;  
}

.tlcimg{
  float: right;
  height: 20em;
  width: 100%;
  padding-top: 4em;
  padding-left:27em;
  padding-right: 34em;
}

.taskcard{
  padding-top: 15em;
  padding-bottom: 35em;
  padding-left:30em;
  padding-right: 120%;
  overflow-x:hidden ;
  overflow-y:hidden ;
  background-image: url('./Subrouting.js/wallback.jpeg');
  background-attachment: fixed;
  background-size: cover;
  height:100vh;
}

.boxhome{
  width: 25em;
  padding-left: 4em;
  padding-top: 25em;
}

.contactbox{
  height: 46em;
  text-align: center;
  padding-top: 5em;
  padding-left: 30em;
  background-image: url('./Subrouting.js/wallback2.jpeg');
  background-attachment: fixed;
  background-size: cover;
}

.span{
  width: 50px;
}

.homepage{
    background-image: url("./Subrouting.js/background1.jpg");
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
}

.course{
   background-image: url('./Subrouting.js/wallback2.jpeg');
   background-attachment: fixed;
   background-size: cover;
   height: 150vh;
   width:120%;
}


.signupbox{
  height: 52em;
  width: 100%;
  text-align: center;
  padding-top: 5em;
  background-image: url('./Subrouting.js/wallback2.jpeg');
}

.assignmentrouter{
  background-image: url("./Subrouting.js/backgroundimage3.jpeg");
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
    width:100vw;
}

.update{
  padding-top: 10em;
  padding-left: 10em;
}